# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

local.properties

# Ignore Node temporary files created during release management with @changeset/cli
npm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
node_modules/
.npm
package-lock.json